RewriteEngine On

# Si el archivo o directorio existe físicamente, servirlo directamente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirigir todas las demás solicitudes a index.php
RewriteRule ^ index.php [QSA,L]
